@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
  }
  body {
    background-image: url(./images/portfoliobg.gif);
    background-size: cover;
    background-repeat: no-repeat;
   

  }
  
  

.links{
    margin-left: 10px;
}

.links a{
   color: #fff;
   text-decoration: none;
   font-size: 30px;
 
  }

  .links a:hover{
  
    text-decoration: none;
    text-shadow: 0 0 1px #fff, 0 0 5px #fff, 0 0 4px #9500ff, 0 0 4px #9500ff, 0 0 4px #9500ff, 0 0 4px #9500ff , 0 0 4px #9500ff, 0 0 4px #9500ff;
   }

   
.stack{
    display: flex;
    gap: 10px;
    
}

.stack div{
  background-color: rgb(48, 24, 77);
  opacity: .9;
  padding: 8px 8px 8px 8px;
  border-radius: 50%;
}

.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  animation: fadeIn 1s ease-in-out;
  z-index: 1000;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}